{% extends 'page.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="container mt-4 py-4">

<div class="row mb-2">
    <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-550 position-relative  bg-white text-dark">
        <div class="col p-4 d-flex flex-column position-static">

          <h5 class="mb-0"><i class="fa fa-newspaper"></i> JOURNAL DE BORD</h5>

          <p class="card-text mb-auto py-4">
          15/02/2022 : Implémentation gestion des langues pour les contenus<br>
          13/02/2022 : Mise en place de la page d'accueil du backoffice<br>
          12/02/2022 : API Rest




          </p>

        </div>
        <div class="col-auto d-none d-lg-block">
         {# <img src="/img/California-1-1.jpg" width="auto" height="300"/> #}
        </div>
      </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative  bg-white text-dark">
        <div class="col p-4 d-flex flex-column position-static">

          <h5 class="mb-0"><i class="fa fa-building"></i> AGENCES</h5>

          <p class="card-text mb-auto py-4">Gestion des agences BLACKSHEEP</p>
          <a class="btnCustom btn btn-sm btn-success" href="/agence" class="stretched-link">Poursuivre <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-auto d-none d-lg-block">
         {# <img src="/img/California-1-1.jpg" width="auto" height="300"/> #}
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white text-dark">
        <div class="col p-4 d-flex flex-column position-static">

          <h5 class="mb-0"><i class="fa fa-van-shuttle"></i> CAMPERVANS</h5>

          <p class="mb-auto py-4">Gestion du parc de Campervans</p>
           <a class="btnCustom btn btn-sm btn-success" href="/campervan" class="stretched-link">Poursuivre <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          {# <img src="/img/California-1-1.jpg" width="auto" height="300"/> #}
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white text-dark">
        <div class="col p-4 d-flex flex-column position-static">

          <h5 class="mb-0"><i class="fa fa-newspaper"></i> CONTENUS</h5>

          <p class="card-text mb-auto py-4">Gestion des ressources (SEO, Pages...)</p>
           <a class="btnCustom btn btn-sm btn-success" href="/content" class="stretched-link" >Poursuivre <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-auto d-none d-lg-block">
      {# <img src="/img/California-1-1.jpg" width="auto" height="300"/> #}
       </div>
      </div>
</div>

    <div class="col-md-3">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white text-dark">
        <div class="col p-4 d-flex flex-column position-static">

          <h5 class="mb-0"><i class="fa fa-camera"></i> MEDIA</h5>

          <p class="card-text mb-auto py-4">Gestion des médias (Images, PDF...)</p>
           <a class="btnCustom btn btn-sm btn-success" href="/library" class="stretched-link" >Poursuivre <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-auto d-none d-lg-block">
      {# <img src="/img/California-1-1.jpg" width="auto" height="300"/> #}
       </div>
      </div>
</div>

<div class="row mb-2">

    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white text-dark">
        <div class="col p-4 d-flex flex-column position-static">

          <h5 class="mb-0"><i class="fa fa-link"></i> CATEGORIES</h5>

          <p class="card-text mb-auto py-4">Gestion des categories (SEO, Pages...)</p>
           <a class="btnCustom btn btn-sm btn-success" href="/category" class="stretched-link" >Poursuivre <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-auto d-none d-lg-block">
      {# <img src="/img/California-1-1.jpg" width="auto" height="300"/> #}
       </div>
      </div>



</div>



 {% if is_granted('ROLE_ADMIN') %}
    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white text-dark">
        <div class="col p-4 d-flex flex-column position-static">

          <h5 class="mb-0"><i class="fa fa-user"></i> UTILISATEURS</h5>

          <p class="mb-auto py-4">Gestion des utilisateurs de la plateforme</p>
           <a class="btnCustom btn btn-sm btn-success" href="/user" class="stretched-link">Poursuivre <i class="fa fa-arrow-right"></i> </a>
        </div>
        <div class="col-auto d-none d-lg-block">
         {# <img src="/img/California-1-1.jpg" width="auto" height="300"/> #}
        </div>
      </div>
    </div>

  {# if user role == admin #}


    <div class="col-md-4">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white text-dark">
        <div class="col p-4 d-flex flex-column position-static">

          <h5 class="mb-0"><i class="fa fa-desktop"></i> API</h5>

          <p class="card-text mb-auto py-4">Accès API Restful</p>
           <a class="btnCustom btn btn-sm btn-success" href="/api" class="stretched-linwidth="200" height="250"k">Poursuivre <i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="col-auto d-none d-lg-block">
      {# <img src="/img/California-1-1.jpg" width="auto" height="300"/> #}
       </div>
      </div>
    </div>

  </div>
  </div>
{% endif %}
</div>

</div>
{% endblock %}
