<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="../img/logo_bs_black.png" height="40px"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/agence">AGENCES</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/campervan">CAMPERVANS</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/content">CONTENUS</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/user">UTILISATEURS</a>
        </li>
      </ul>

        {# Show user logged #}
            {% if app.user %}
        <div class="">
            <a class="btn btn-secondary" href=""><i class="fa fa-user"></i> {{ app.user.prenom }}</a> <a class="btn btn-warning" href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a>
        </div>
    {% endif %}
    </div>
  </div>
</nav>
        {% block body %}{% endblock %}
        {# footer #}
<div class="footer py-2">
  <p>BLACKSHEEP VAN - 2023</p>
</div>
    </body>
</html>
