{{ form_start(form) }}
    {{ form_widget(form) }}
    <span class="float-end mt-2">
    <button class="btn btn-success">{{ button_label|default('VALIDER') }}</button>
    </span>
{{ form_end(form) }}
