{% extends 'page.html.twig' %}
{% block title %}New User{% endblock %}

{% block body %}
<div class="container bg-white mt-4 p-4">
    <h4>Créer un nouvel utilisateur</h4>

    {{ include('user/_form.html.twig') }}

     <a class="btn btn-secondary" href="{{ path('app_user_index') }}">Retour</a>
    </div>
{% endblock %}
